body{
  background-color: #e8eaed;
}
button{
  border-radius: 3px;
  color: #4a4a4a;
  font-family: 'Piazzolla', serif;
  font-size: 14px;
  text-align: top;
  background-color: #fcfcfc;
  width: 80px;
  height: 28px;
  border: solid black 1px;
  margin-left: 5%;
  margin-top: 20%;
}
button:hover{
  background-color: #daecf7;
  border: solid black 0px;
  border-radius: 5px;
  opacity: 0.7;
  color: #4d6675;
  cursor: pointer;
}
select{
  color: #9ea5a8;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Piazzolla', serif;
  margin-left: 1%;
  margin-top: 15%;
}
select:hover{
  color: #464c4f;
}
span{
  color: #3a3d47;
  font-size: 17px;
  position: absolute;
  top: 7px;
  left: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}
input{
  border-radius: 1.6px;
  margin-left: 5%;
}
input:hover{
  transition-duration: 2s;
  background-color: #edf9ff;
}
h1{
  font-family: 'Lato', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Piazzolla', serif;
  margin-left: 10%;
  margin-top: 5%;
}
.from{
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 28%;
  left: 39%;
}
.to{
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  position: absolute;
  top: 28%;
  left: 43.5%;
}
.img{
  position: absolute;
  top: 15%;
  left: 27%;
}
.maind{
  background-color: #fcfcfc;
  color: #4a4a4a;
  width: 700px;
  height: 500px;
  margin-left: 25%;
  border-radius: 2px;
}
#al{
  background-color: #de6d72;
  color: #3a3d47;
  text-align: left;
  width: 300px;
  height: 35px;
  position: absolute;
  left: 1200px;
  top: 30px;
  opacity: 0;
}
#r{
  color: #3a3d47;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  position: absolute;
  top: 0%;
  left: 110%;
}
.res{
  color: #3a3d47;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 27%;
}
@media screen  and (max-width: 400px){
  body{
    background-color: #e8eaed;
  }
  button{
    border-radius: 3px;
    color: #4a4a4a;
    font-family: 'Piazzolla', serif;
    font-size: 10px;
    text-align: top;
    background-color: #fcfcfc;
    width: 50px;
    height: 23px;
    border: solid black 1px;
    margin-left: 0%;
    margin-top: 40%;
  }
  button:hover{
    background-color: #daecf7;
    border: solid black 0px;
    border-radius: 5px;
    opacity: 0.7;
    color: #4d6675;
    cursor: pointer;
  }
  select{
    color: #9ea5a8;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Piazzolla', serif;
    width: 42.8px;
    margin-left: 0%;
    margin-top: 15%;
  }
  select:hover{
    color: #464c4f;
  }
  span{
    color: #3a3d47;
    font-size: 17px;
    position: absolute;
    top: 7px;
    left: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  input{
    width: 60px;
    border-radius: 1.6px;
    margin-left: 2%;
  }
  input:hover{
    transition-duration: 2s;
    background-color: #edf9ff;
  }
  h1{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Piazzolla', serif;
    margin-left: 10%;
    margin-top: 5%;
  }
  .from{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 19%;
    left: 37%;
  }
  .to{
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 19%;
    left: 51%;
  }
  .img{
    width: 150px;
    position: absolute;
    top: 10%;
    left: 18%;
  }
  .maind{
    background-color: #fcfcfc;
    color: #4a4a4a;
    width: 250px;
    height: 450px;
    margin-left: 10%;
    border-radius: 2px;
  }
  #al{
    background-color: #de6d72;
    color: #3a3d47;
    text-align: left;
    width: 220px;
    height: 35px;
    position: absolute;
    left: 45px;
    top: 400px;
    opacity:0;
  }
  #r{
    color: #3a3d47;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 0%;
    left: 110%;
  }
  .res{
    color: #3a3d47;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 15%;
  }
}
